import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
from sklearn.utils import shuffle
import json
import os
from sklearn.tree import DecisionTreeClassifier
import pickle
from sklearn.metrics.pairwise import cosine_similarity
from langchain.llms import Ollama
import datetime
from datetime import datetime
from sklearn.tree import DecisionTreeClassifier
from apscheduler.schedulers.blocking import BlockingScheduler
from sklearn.metrics import accuracy_score

nltk.download('punkt_tab')
nltk.download('stopwords')

